@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="courseName">
    <div class="text-center">
        <div class="course">
            <h1 class="display-4">BDAT - 1001 Information Encoding Standards</h1>
            <h2>Final Project - Group 14</h2>
        </div>
            <div class="names">
                <h3 >Dhanush Sriram</h3>
            <h3 >Latisha</h3>
            <h3 >Drashti Yadav</h3>
        </div>   
    </div>
</div>



